html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  overflow: hidden;
  background-color: var(--bg);
  color: var(--text);

  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    sans-serif;
}

canvas {
  display: block;
}

:root {
  --bg: #101010;
  --text: #eeeeee;
  --muted: #aaaaaa;
  --accent: #E10600;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}